* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: #440947;
}

p {
  line-height: 140%;
  margin: 0 0 1rem 0;
  color: #efedee;
}
h1, h2, h3 {
  margin: 1rem 0 .5rem 0;
  font-weight: normal;
  color: #efedee;
}

h1 {
  font-size: 3.5rem;
  text-shadow: 1px 1px 10px #30041c; /* 634b58;*/
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-style: italic;
}

label {
  color: #efedee;
  font-size: 1rem;
  margin:
}

input, textarea {
  font-size: .85rem;
  line-height: 120%;
  margin-top: .5rem;
  padding: .5rem;
}

input[type="text"] {
  width: 70%;
  height: 30px;
}

.wrap {
  background: linear-gradient(#634b58, #440947);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.container {
  width: 800px;
  margin: 2rem auto;
}

.journal-form {
  display: flex;
  flex-direction: column;
}
#entry-title{
  align-self: center;
}
#title{
  align-self: left;
}

.button {
  flex-grow: 0;
  align-self: left;
  width: 30%;
  max-width: 300px;
  min-width: 100px;
  padding: .5rem 2rem;
  margin: .5rem 4rem 0 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

button#submit {
  background: #b18dc1;
  border: 1px #270428 solid;
  box-shadow: 1px 1px 10px #270428;
  color: #270428;
}

button#submit:hover, button#submit: active {
  background: #ce9ce5;
}

button#reset {
  background: #c6bec2;
  border: 1px #270428 solid;
  box-shadow: 1px 1px 10px #270428;
  color: #270428;
}

button#reset:hover, button#reset: active {
  background: #e0bcce;
}

.result {
  color: #efedee;

}

.counts {
  font-size: .85rem;
  color: #efedee;

}

.journal-entry {
  font-size: 1rem;
  line-height: 140%;
  color: #efedee;
}
