* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  background: linear-gradient(45deg,#440947, #634b58);
  height: 100vh
}

p {
  line-height: 140%;
  margin: 0 0 1rem 0;
  color: #efedee;
}
h1, h2, h3 {
  margin: 1rem 0 .5rem 0;
  font-weight: normal;
  color: #efedee;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-style: italic;
}

label {
  color: #efedee;
  font-size: 1rem;
  margin:
}

input, textarea {
  font-size: .85rem;
  line-height: 120%;
  margin-top: .5rem;
}

input[type="text"] {
  width: 70%;
  height: 30px;
}


.container {
  width: 800px;
  margin: 2rem auto;
}

.journal-form {
  display: flex;
  flex-direction: column;
}
#entry-title{
  align-self: center;
}
#title{
  align-self: left;
}

.button {
  align-self: left;
  border: 1px black solid;
  width: 100px;
  background: #c6bec2;
  text-transform: uppercase;
  letterspacing: .1em;
  font-size: 1rem;
  padding: .5rem .5rem .5rem .5rem;
  margin: .5rem 0;
  cursor: pointer;
}

.button:hover, .button: active {
  background: #e0bcce;
}

.result {
  color: #efedee;

}

.counts {
  font-size: .85rem;
  color: #efedee;

}

.journal-entry {
  font-size: 1rem;
  line-height: 140%;
  color: #efedee;
}
